# Ignore files
Bug\ Fixes\ and\ Feature\ Developments\ .ipynb
MANIFEST.IN
setup.py 
.DS_Store
README.txt
*DS_Store


# Ignore directories
__pycache__/
*__pycache__/
build/
dist/
FrozenYoghourt.egg-info/
.idea/
.ipynb_checkpoints/
.git/

# Ignore Jupyter Notebooks
*.ipynb
# Ignore .log file
*.log

#Ignore .pyc file
*.pyc