# Ignore files
Bug\ Fixes\ and\ Feature\ Developments\ .ipynb
MANIFEST.IN
setup.py 
.DS_Store
README.txt
*DS_Store
FrozenYoghourt/.DS_Store
FrozenYoghourt/gates/.DS_Store
FrozenYoghourt/maths/.DS_Store
FrozenYoghourt/mode/.DS_Store
FrozenYoghourt/quantum/.DS_Store

git rm -r --cached FrozenYoghourt/quantum/__pycache__




# Ignore directories
__pycache__/
*__pycache__/
build/
dist/
FrozenYoghourt.egg-info/
.idea/
.ipynb_checkpoints/
.git/
FrozenYoghourt/__pycache__
FrozenYoghourt/gates/__pycache__
FrozenYoghourt/maths/__pycache__
FrozenYoghourt/mode/__pycache__
FrozenYoghourt/quantum/__pycache__


# Ignore Jupyter Notebooks
*.ipynb
# Ignore .log file
*.log

#Ignore .pyc file
*.pyc